// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootswatch/united/variables";
@import "bootstrap";

body { padding-top: 60px; }

@import "bootswatch/united/bootswatch";

h1 {
	padding: 0 0 15px 0;
}

/* Override the default font-famiy for the following elements */
label, input, button, select, textarea {
  font-family: 'Ubuntu',Tahoma,sans-serif;
}

a:hover {
  color:#FFFFFF;
} 

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}